#!/usr/bin/make -f
# -*- Mode: Makefile; indent-tabs-mode: t -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ $(DHFLAGS) --with gir --without autoreconf

override_dh_auto_configure:
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure $(DHFLAGS) -- --enable-introspection=yes \
	                     --enable-gtk-doc \
	                     --enable-headless-tests \
	                     --disable-silent-rules

override_dh_auto_install:
	dh_auto_install
	find debian/tmp/usr/lib -name \*.la -exec rm {} \;
	find debian/tmp/usr/lib -name \*.a -exec rm {} \;

override_dh_install:
	mkdir -p debian/tmp/usr/share/doc/libbamf-doc/
	mv debian/tmp/usr/share/gtk-doc/html/libbamf debian/tmp/usr/share/doc/libbamf-doc/html
	ln -s ../../doc/libbamf-doc/html debian/tmp/usr/share/gtk-doc/html/libbamf
	dh_install

override_dh_missing:
	dh_missing --fail-missing

override_dh_girepository:
	dh_girepository -pgir1.2-bamf-3

get-orig-source:
	uscan --noconf -vv --force-download --rename --repack --download-current-version --destdir=..
